<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wuguangxin.simple" >

    <!-- 6.0 拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- 6.0 手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 6.0 读存储卡 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 6.0 写存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.wuguangxin.simple.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="com.wuguangxin.simple.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.wuguangxin.simple.ui.TabHost0_Activity"/>
        <activity android:name="com.wuguangxin.simple.ui.TabHost1_Activity"/>
        <activity android:name="com.wuguangxin.simple.ui.TabHost2_Activity"/>
        <activity android:name="com.wuguangxin.simple.ui.TabHostDemoActivity"/>

        <activity android:name="com.wuguangxin.simple.ui.MyDialogActivity"/>
        <activity android:name="com.wuguangxin.simple.ui.ItemViewActivity"/>
        <activity android:name="com.wuguangxin.simple.ui.CircleProgressViewActivity"/>
        <activity android:name="com.wuguangxin.simple.ui.GestureViewActivity"/>
        <activity android:name="com.wuguangxin.simple.ui.WidgetActivity"/>

        <activity android:name="com.wuguangxin.simple.ui.call.CallActivity" android:screenOrientation="portrait" >
            <!-- 提供打电话的UI -->
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <data android:scheme="tel" />
            </intent-filter>
            <!-- region provides dial UI -->
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.wuguangxin.simple.ui.call.PhoneCallService"
            android:permission="android.permission.BIND_INCALL_SERVICE">
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="true" />
            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>
        </service>
    </application>

</manifest>